$font-color: #fff;
$font-color-alter: #333;
$message-color: #00695C;
$message-color2: #1565C0;

#jj_chat {

div#chat_stage {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: #fff;
  padding: 10px 15px 20px 15px;
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div#input {
  box-sizing: border-box;
  width: 100%;
  min-height: 30vh;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
  padding: 2px 15px 20px 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chat {


  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 45px 0 0 0;
      font-weight: 300;

      span.user {
        margin: -30px 0 0 0;
        display: block;
        color: $font-color-alter;

        img {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          background-color: #f3f3f3;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }
      }

      .date {
        font-size: 14px;
        color: lighten($font-color-alter, 45);
      }

      .message {
        display: block;
        padding: 10px;
        position: relative;
        color: $font-color;
        font-size: 15px;
        background-color: $message-color;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

        .chat_action{

          display: inline-block;
          margin-top: 1.5em;

          padding: 6px;
          border-radius: 5px;
          animation-name: chat_action;
          animation-iteration-count: infinite;
          animation-duration: 2s;

        }
        &:before{
          content: '';
          position: absolute;
          border-top: 16px solid rgba(0,0,0,0.15);
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          border-color: $message-color;
          border-top-width: 17px;
          border-top-style: solid;

          border-left: 17px solid transparent;
          border-right: 17px solid transparent;
        }

        &.blur {
          p {
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
            filter: blur(3px);
          }

          .hider{
            opacity: 1;
            z-index: 1;
          }
        }

        p {
          margin: 0;
          padding: 0;
          transition: all 0.1s;
        }

        .hider {
          opacity: 0;
          z-index: -1;
          position: absolute;
          height: 100%;
          width: 100%;
          margin: -10px;
          text-align: center;
          cursor: pointer;
          transform-style: preserve-3d;
          transition: all 0.1s;

          span {
            display: block;
            position: relative;
            top: 50%;
            font-size: 16px;
            transform: translateY(-50%);
          }
        }
      }
    }

    li.other {

      span.user {
        float: right;
      }

      .date {
        float: right;
        margin: -20px 10px 0 0;
      }

      .message {
        margin: 0 90px 0 0;
        background-color: $message-color2;

        &:before {
          margin: -9px -16px 0 0;
          right: 0;

        }

        &:after{
          content: '';
          right: 0;

          border-color: $message-color2;
          border-top-width: 17px;
          border-top-style: solid;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          margin: 0 -15px 0 0;
        }
      }
    }

    li.you {

      span.user {
        float: left;
      }

      .date {
        float: left;
        margin: -20px 0 0 10px;
      }

      .message {
        margin: 0 0 0 90px;

        &:before {
          margin: -9px 0 0 -16px;
          left: 0;
        }

        &:after{
          content: '';
          left: 0;
          margin: 0 0 0 -15px;
        }
      }
    }


  }


}

.input{
  margin-top: 30px;
  text-align: center;
  label{
    font-size: 10pt;
  }
  input, select{
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    font-family: courier;
    margin: 10px 0;

  }
  button{
    background-color:white;
    color: grey;
    border: 1px solid grey;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;

    &:hover{
      background-color: lightgrey;
    }
  }
}

}

@keyframes chat_action{
  0% { background-color: rgba(0,0,0,0.5); }
  75% { background-color: transparent;}
  100% { background-color: rgba(0,0,0,0.5); }
}
