.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
@-webkit-keyframes bounceIn {
  20%, 40%, 60%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  20%, 40%, 60%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
.spinme-right {
  display: block;
  padding: 15px 20px;
  float: right;
  font-size: 14px;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2; }

.spinme-left {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  color: #ccc;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2; }

.spinner {
  margin: 0;
  width: 30px;
  text-align: center; }

.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: black; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
#jj_chat div#chat_stage {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  background-color: #fff;
  padding: 10px 15px 20px 15px;
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
#jj_chat div#input {
  box-sizing: border-box;
  width: 100%;
  min-height: 30vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 15px 20px 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
#jj_chat .chat ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  #jj_chat .chat ul li {
    margin: 45px 0 0 0;
    font-weight: 300; }
    #jj_chat .chat ul li span.user {
      margin: -30px 0 0 0;
      display: block;
      color: #333; }
      #jj_chat .chat ul li span.user img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #f3f3f3;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
    #jj_chat .chat ul li .date {
      font-size: 14px;
      color: #a6a6a6; }
    #jj_chat .chat ul li .message {
      display: block;
      padding: 10px;
      position: relative;
      color: #fff;
      font-size: 15px;
      background-color: #00695C;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }
      #jj_chat .chat ul li .message .chat_action {
        display: inline-block;
        margin-top: 1.5em;
        padding: 6px;
        border-radius: 5px;
        -webkit-animation-name: chat_action;
                animation-name: chat_action;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-duration: 2s;
                animation-duration: 2s; }
      #jj_chat .chat ul li .message:before {
        content: '';
        position: absolute;
        border-top: 16px solid rgba(0, 0, 0, 0.15);
        border-left: 16px solid transparent;
        border-right: 16px solid transparent; }
      #jj_chat .chat ul li .message:after {
        content: '';
        position: absolute;
        top: 0;
        border-color: #00695C;
        border-top-width: 17px;
        border-top-style: solid;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent; }
      #jj_chat .chat ul li .message.blur p {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px); }
      #jj_chat .chat ul li .message.blur .hider {
        opacity: 1;
        z-index: 1; }
      #jj_chat .chat ul li .message p {
        margin: 0;
        padding: 0;
        transition: all 0.1s; }
      #jj_chat .chat ul li .message .hider {
        opacity: 0;
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: -10px;
        text-align: center;
        cursor: pointer;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        transition: all 0.1s; }
        #jj_chat .chat ul li .message .hider span {
          display: block;
          position: relative;
          top: 50%;
          font-size: 16px;
          -webkit-transform: translateY(-50%);
                  transform: translateY(-50%); }
  #jj_chat .chat ul li.other span.user {
    float: right; }
  #jj_chat .chat ul li.other .date {
    float: right;
    margin: -20px 10px 0 0; }
  #jj_chat .chat ul li.other .message {
    margin: 0 90px 0 0;
    background-color: #1565C0; }
    #jj_chat .chat ul li.other .message:before {
      margin: -9px -16px 0 0;
      right: 0; }
    #jj_chat .chat ul li.other .message:after {
      content: '';
      right: 0;
      border-color: #1565C0;
      border-top-width: 17px;
      border-top-style: solid;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      margin: 0 -15px 0 0; }
  #jj_chat .chat ul li.you span.user {
    float: left; }
  #jj_chat .chat ul li.you .date {
    float: left;
    margin: -20px 0 0 10px; }
  #jj_chat .chat ul li.you .message {
    margin: 0 0 0 90px; }
    #jj_chat .chat ul li.you .message:before {
      margin: -9px 0 0 -16px;
      left: 0; }
    #jj_chat .chat ul li.you .message:after {
      content: '';
      left: 0;
      margin: 0 0 0 -15px; }
#jj_chat .input {
  margin-top: 30px;
  text-align: center; }
  #jj_chat .input label {
    font-size: 10pt; }
  #jj_chat .input input, #jj_chat .input select {
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    font-family: courier;
    margin: 10px 0; }
  #jj_chat .input button {
    background-color: white;
    color: grey;
    border: 1px solid grey;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    cursor: pointer; }
    #jj_chat .input button:hover {
      background-color: lightgrey; }

@-webkit-keyframes chat_action {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  75% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }

@keyframes chat_action {
  0% {
    background-color: rgba(0, 0, 0, 0.5); }
  75% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.5); } }